<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <a href="/" class="navbar-brand mb-0 h1">
        <img src="{{ url_for('static', filename='img/logomd.png') }}" style="width:80px;">
    </a>
    <ul class="navbar-nav ml-3">
        <li class="nav-item">
            <a class="nav-link" href="/marvel">Marvel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dc">DC</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/movies">Movies</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/add-hero">A Hero</a>
                <a class="dropdown-item" href="/add-movie">A Movie</a>
          </li>
        <form class="form-inline ml-2 my-sm-0" action="/">
            <input type="text" id="myinput" class="form-control mr-sm-2" placeholder="Filter..." onkeyup="filter();">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </ul>
</nav>